.purpose{
  display: flex;
  width: 100%;
  height: 40vh;
  background-color:#F4F4F4 ;
  justify-content: center;
  
}
.purpose .purposeContent{
  display: flex;
  margin-top: 3vh;
  height: 37vh;
  width: 70vw;
  background-color: #001C43;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;


}
.purpose .purposeText{
  color: White;
  width: 70%;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  width: 100%;
  font-weight: 600;
  
}

.purpose #title {
  color: White;
  font-weight: normal;
  font-weight: 600;
}

.purposeContent #logo{
  height: 100%;
  width: 30%;
}


