.header {
  top: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  background-color: white;
  align-items: center;
  border-bottom: 2px solid #00bedd;
  justify-content: space-between;
}
.header .header__options{
  display: flex;
  margin-right: 5vw;
  font-size: 1.25em;
}
.header .right-icons {
  margin-left: 1rem;
}
.header__logo {
  margin-left: 5vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  height: 100%;
  width: 100%;
}
.header__title {
  font-size: 1.25em;
  color: #001c43;
  font-weight: normal;
  text-align: right;
  width: 100%;
  margin-right: 5vw;
}

@media (max-width: 768px) {
  .header__title {
    display: None;
  }
  .header {
    justify-content: center;
    align-items: center;
  }
}
