.news {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 84vh;
  display: flex;
  justify-content: center;
  flex: 1;
  border-top: 2px solid #00bedd;
  border-bottom: 2px solid #00bedd;
  background-color: #001c43;
  flex-direction: column;
}

.news .newsFeed {
  background-color: #00bedd;
  flex-direction: column;
  color: white;
}

