.news {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 84vh;
  background-color: #F4F4F4;
  justify-content: center;
  
}
.newsContainer {
  display: flex;
  width: 70vw;
  height: 100%;
  background-color: #F4F4F4;
  justify-content: center
  
}

.news .newsFeed {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  margin-bottom:3vh ;
}

.newsFeed .tableNews {
  width: 100%;
  height: 15rem;
  background-color: white;
  margin-top: 3vh;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  text-align: justify;
  border-radius: 1rem;   
}
.newsImage {
  overflow: hidden;
  padding: 0;
  margin:0px;
  width: 20rem;
  height: 15rem;
  border-radius: 5%;
}

 .newsImage img {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  transition: transform .5s ease;
}

.newsFeed .tableNews:hover {
  margin-top: 0.7rem;
  margin-bottom: 1.3rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.newsType {
  display: flex;
  color: #005489;
  font-weight: bold;
  padding-left: 1rem;

}

.newsTitle {
  font-weight: bold;
  font-size: 20px;
  vertical-align: text-top;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.newsDate {
  display: none;  
  font-size: 12px;
  vertical-align:bottom;
  padding-bottom: 5px ;
  justify-content: center;
}

.newsText {
  font-size:  12px;
  display: none;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 5rem;
  overflow: hidden; 
 
}

.newsMore{
  display: none;
  text-decoration: underline;
  font-size: 14px;
  vertical-align:bottom;
  padding-bottom: 5px ;
  justify-content: center;
  cursor: pointer;
}
.tableNews:hover .newsMore{
  display: flex;

}
.newsMore:hover{
font-size: 15px;
}

.tableNews:hover .newsText{
  display: flex;

}
.tableNews:hover .newsDate{
  display: flex;
}
.tableNews:hover .newsTitle {
  color: #005489;
  transition: color 0.1s;
  font-size: 16px;
  
}

.tableNews:hover .newsType {
  display: none;

}

.newsFilter {
  display: flex;
  align-items: left;
  width: 15vw;
  height:30vh;
  padding: 0.5rem;
  margin-left: 5vw;
  background-color: white;
  border-radius: 1rem;
  /* position: fixed;
  right: 15vw;
  top:43vh; */
  margin-top: 3vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
 
}
.newsFilter::-webkit-scrollbar{  
  display: none;
}

.selectFilter{
  color: #005489;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.filterButton{
  margin-bottom:0.3rem ;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 5px;
  cursor: pointer;  
  transition: color 200ms;
  font-size: 16px;
  border-radius: 5rem;
  border: 2px solid #005489;
}

.filterButton:focus{
  background-color: #00bedd;
}
.filterButton:hover{
  background-color: #00bedd;
}